div.css-1r6slb0.e1tzin5v1 {
    border: 2px solid #000000;
    padding: 10px;
    background-color: #417630;
}

h1 {
    color: #BED600;
}
h2 {
    color: #BED600;
}
h3 {
    color: #BED600;
}
a:link {
    color: white;
}
a:visited {
    color: black;
}
